.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.menu {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #fcfcfd;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 48px;
  padding: 0 32px;
  font-size: 18px;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  .menu:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
      0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
  }
  .menu:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
  }
}

.keys {
  width: 800px;
  display: block;
  margin: 35vh auto;
}

.keybutton {
  background: linear-gradient(to top, #f9f9f9 0%, #d2d2d2 80%, #c0c0c0 100%);
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
    0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25),
    -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
}

.keybutton:hover,
.keybutton:focus {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
    0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
  transform: translateY(2px);
}

.keybutton:active {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
    0 0px 30px rgba(68, 68, 68, 0.15), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 0px 4px rgba(68, 68, 68, 0.25);
  transform: translateY(4px);
}

.keybutton2 {
  background: linear-gradient(to top, #f9f9f9 0%, #d2d2d2 80%, #c0c0c0 100%);
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
    0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
  transform: translateY(8px);
}

.keybutton2:hover,
.keybutton2:focus {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
    0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
  transform: translateY(8px);
}

.keybutton2:active {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
    0 0px 30px rgba(68, 68, 68, 0.15), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 0px 4px rgba(68, 68, 68, 0.25);
  transform: translateY(8px);
}

.button {
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

/* Creating the circular border as a pseudo-element */
.button::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background: linear-gradient(
    60deg,
    transparent,
    transparent 50%,
    #fff 50%,
    #fff
  );
  background-size: 200% 200%;
  border-radius: 8px;
  z-index: -1;
  transition: all 0.5s;
}

/* Animating the border */
.button:hover::before {
  background-position: 100% 0;
}

.animatedborder {
  animation: borderAnimation 1s infinite;
  border: 2px solid;
  background: #222222;
}

@keyframes borderAnimation {
  0% {
    border-color: rgb(238, 255, 0);
  }
  50% {
    border-color: rgb(255, 198, 194);
  }
  100% {
    border-color: rgb(52, 255, 52);
  }
}

.rainbowanimation {
  animation: glowAnimation 500ms ease-in-out infinite alternate;
  background: linear-gradient(
    280deg,
    /* #ff0000,
    #ff7f00,
    #ffff00,
    #3a3e3a,
    #0000ff,
    #4b0082,
    #9400d3 */
  );
  background-size: 200% 200%;
  color: white; /* Adjust text color if needed */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); /* Glowing effect */
}

@keyframes glowAnimation {
  from {
    box-shadow: 0 0 40px rgb(255, 255, 255);
  }
  to {
    box-shadow: 0 0 10px rgb(255, 255, 255);
  }
}

@keyframes glowAnimationRed {
  from {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0 0 10px rgb(255, 255, 255);
  }
}

.animation {
  height: 95px;
  display: flex;
  transform: rotate(180deg);
}
.animation span {
  width: 38px;
  margin: 0 2px;
  border-radius: 6px;
  /* background-color: #fff; */
  animation: loader 2s infinite;
}
@keyframes loader {
  0%,
  100% {
    height: 15px;
    background: #0081c9;
  }
  25% {
    height: 95px;
    background: #ffb100;
  }
  50% {
    height: 50px;
    background: #54b435;
  }
  75% {
    height: 95px;
    background: #ff6464;
  }
}
.animation span:nth-child(1) {
  animation-delay: 1s;
}
.animation span:nth-child(2) {
  animation-delay: 0.8s;
}
.animation span:nth-child(3) {
  animation-delay: 0.6s;
}
.animation span:nth-child(4) {
  animation-delay: 0.4s;
}
.animation span:nth-child(5) {
  animation-delay: 0.2s;
}

.loadingtext::after {
  content: "";
  animation: dots 2.3s steps(1, end) infinite;
  color: white;
  width: 50px;
}

@keyframes dots {
  0%,
  20% {
    content: ".";
  }
  40%,
  60% {
    content: "..";
  }
  80%,
  100% {
    content: "...";
  }
}

.loadingOverlay {
  position: fixed; /* Overlay covers the whole screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above all other content */
}

.hidden {
  display: none; /* Hide when loading is done */
}
